[2021-06-29 14:15] pdbailey0 opened #1 "downloadECLS_K, then cannot find data."
A user ran the following code and could not understand the error:

![image](https://user-images.githubusercontent.com/14575300/123813456-87469a80-d8ba-11eb-925c-3b399a01d575.png)

Writing, "As you can see from the above codes, I tried different ways to call or read the data using different paths/locations but unfortunately I could not read the data."

[2021-06-29 14:20] pdbailey0 commented on #1
I would first look in the path to see if you can find `childK5p.dat`. Where you find that file is where to point EdSurvey.

In the short run, I would change the download call to `root="C:/"` so that the call is

[code]

EdSurvey makes the folders `\ECLS_K\2011` in the root, so I think you will find the data in `C:\ECLS_K\2011\ECLS_K\2011\`. Since you have already downloaded the data, I would just

[2021-06-29 18:18] rlbresearcher commented on #1
Hi Paul,

So I did what you suggested: to use the code
**downloadECLS_K(years=2011, root="C:/", cache=FALSE)** and checked if the file **"childK5p"** is located in that folder. Yes this file is in that "C:/" folder. I wish I could attach an image copy.

However, I'm still getting that error message when reading the data. I do not know if "childK5p.dat" (which you suggested) is different from "Chil

[2021-07-01 05:33] rlbresearcher commented on #1
Hi Paul,

I don't know what the issue is with reading the file. I followed your
recommendation but still didn't work. I even tried different ways but to no
avail, I'm still getting the same error message. Please see attached my
documentation of the processes. I thought I already knew how to read files
in R, but don't know what's the problem.

Let me know.

Thanks,
Rommel

On Wed, Jun 30, 2021 at 1

[2021-07-01 14:39] pdbailey0 commented on #1
I'm confused, is this an email or a comment that was deleted?

From: rlbresearcher ***@***.***>
Sent: Thursday, July 1, 2021 12:34 AM
To: American-Institutes-for-Research/EdSurvey ***@***.***>
Cc: Bailey, Paul ***@***.***>; Author ***@***.***>
Subject: Re: [American-Institutes-for-Research/EdSurvey] downloadECLS_K, then cannot find data. (#1)

External email alert: Be wary of links & attachments.

[2021-07-01 17:42] rlbresearcher commented on #1
Hi Paul,

I'm resending my email with my comments. Initially I sent the email with
the comment as an attachment (containing a documentation of the issue) but
it did not appear in the github so I deleted it. So here's the email again.

***************************************************************************************************************************************
1) All the files are saved in

[2021-07-01 17:46] pdbailey0 commented on #1
Hi Rommel, I don't see the images. I usually copy and paste them one by one. You can edit your comments by selecting the three dots in the top right and then selecting "Edit"

![image](https://user-images.githubusercontent.com/14575300/124168016-31185980-da6a-11eb-80a3-aa821baf11c3.png)

[2021-07-01 18:18] rlbresearcher commented on #1
Hi Paul,

I copied and pasted the images already but they do not show until you
click the links.

Thanks,
Rommel

On Thu, Jul 1, 2021 at 10:46 AM Paul Bailey ***@***.***>
wrote:

[2021-07-01 19:23] pdbailey0 commented on #1
@rlbresearcher my recomendation was going to be that you did what you say you did in the end. I'll note the image does not seem to reflect the code you shared.

try this:
[code]

if that does not work, please show the results of this:
[code]

[2021-07-01 19:59] pdbailey0 commented on #1
@rlbresearcher I just looked at your final error again. IT reads, "Cannot find specified layout file 'H:/Research Agenda/ecls/ECLS_K/ChildK5p/ECLSK2011_K5PUF.sps' in path 'H:/Research Agenda/ecls/ECLS_K/ChildK5p/'." Have you looked at that path to see if the file is there?

[2021-07-01 22:18] rlbresearcher commented on #1
Hi Paul,

I found the error that needs to be corrected. I will update you as soon as
the datafile has been read. It's a large file and my computer is slow and
probably will take longer than it should to read the data.

Thanks!

On Thu, Jul 1, 2021 at 12:59 PM Paul Bailey ***@***.***>
wrote:

[2021-07-07 12:53] zq8890 opened #3 "Transforming ECLSK 2011 data from "wide" to "long" format"
I am working with ECLSK :2011 data, and am planning to conduct multilevel and longitudinal analyses with it. Most analyses require the data to be in “long format,” but ELCKS comes in a “wide format.” Is there any package within EdSurvey that can be used to manipulate the data from wide to long formats? I’m only familiar with options within the tidyverse, such as pivot_longer, but this does not see

[2021-07-07 15:30] pdbailey0 commented on #3
@zq8890 we have materials like this from our AERA training in Tronto. We'll see if we can find them.

[2021-07-07 15:46] pdbailey0 commented on #3
It looks like, when we last taught it, and this is just focusing on a small portion of the training.

This is just the code for a simple example of what we did, many methods exist to do this.
[code]

[2021-07-07 15:46] #3 closed

[2021-07-07 15:46] #1 closed

[2021-07-07 16:32] niguarino opened #4 "Error in Mixed-effects Models documentation?"
The [documentation on mixed-effects models](https://www.air.org/sites/default/files/EdSurvey-Mixed_Models.pdf) has a confusing sentence on page 2:

Can you explain what you mean by "especially when level-1 weights are very different from 1?" I'm not sure what the second "1" means here.

[2021-07-07 17:06] pdbailey0 commented on #4
@niguarino sorry that was unclear. I think we are saying that a weight of 100 would be very different from a weight of 1.

However, we're not here to help you weight your data, and when we last looked this appeared to be an open question in the literature, so we're not taking a stance on it, except to note that some surveys have a recommended weighting scheme, and we implement those when we could

[2021-07-07 17:11] niguarino commented on #4
@pdbailey0 I understand what you're trying to say now. Thank you!

[2021-07-09 20:10] #4 closed

[2021-07-12 00:56] daparker26 opened #5 "Best approach for mixed models with country-level data?"
I am analyzing PIAAC data and want to create a multilevel model with countries. Currently, EdSurvey pulls PIAAC data from multiple countries into a list. However, mixed.spf only accepts edsurvey and light edsurvey data frames. I have tried to use getData() and rbind the light.edsurvey.data.frames into a single light.edsurvey.data.frame, but the attributes do not transfer and I'm unable to use rebi

[2021-07-16 17:22] pdbailey0 commented on #5
@daparker26 this is a great question. We'll see if we can have any sample code that could help you.

[2021-07-22 08:00] vejUA opened #6 "summary2 function error"
The summary2 function seems not to work properly for countries with less than 150 Jackknife Replicate weights (e.g. the Netherlands, Sweden, England, and Northern Ireland). I keep getting the following message:

Error in if (thisPercentile > xpw$p[nrow(xpw)]) { :   argument is of length zero

The function works for other countries (e.g. Belgium, Austria, Cyprus). It also works for all countries if

[2021-07-22 15:15] pdbailey0 commented on #6
@vejUA, what's happening here is that EdSurvey uses attributes to keep track of things like what the replicate weights are for a study. The `dplyr` function `bind_rows` has some undesirable behavior here, it added the attributes from the participating Belgian education system and jettisoned the attributes from the Netherlands, silently. Switch `c("bfl","nld")` to `c("nld", "bfl")` and `bind_rows`

[2021-07-22 15:17] #6 closed

[2021-07-22 16:51] pdbailey0 commented on #5
For now, the only way I see is for you to run the models directly in `WeMix` with the `mix` function.

Here I start you off, showing you how I would condense the data. I'm not commenting on how I would deal with weights in PIAAC, you are responsible for that.

[code]
This makes results for a single replicate weight. You would need to estimate it again and estimate the imputation variance using the

[2021-07-22 16:51] #5 closed

[2021-07-22 16:54] daparker26 commented on #5
Thank you so much for your response, Paul! I assumed I would need to go straight to WeMix. I appreciate the example.

[2021-07-23 06:02] vejUA commented on #6
Thank you very much for your quick and clear respons. This works fine.

[2021-08-27 10:35] diegc15 opened #10 "Replicating TIMSS and PIRLS results with EdSurvey"
My name is Diego G. Campos. I am a doctoral research fellow at the University of Oslo. Dr. Isa Steinmann and I are teaching a course about International Large Scale Assessments (ILSA). As part of the course, we want students to use the EdSurvey package to replicate some of the results reported by the IEA. We noticed that the SE is slightly off compared to the ones reported in the official reports.

[2021-08-31 16:26] yuqiliao commented on #10
Hi Diego, thanks for using EdSurvey and for your detailed issue documentation. You raised a few helpful issues. I'll take a stab at responding to them below.

Issue 1: SE is slightly off compared to the ones reported in the official reports (using TIMSS data in example 1)
===
For the two `summary2` calls you provided, you mentioned that the S.E.s are slightly off between the EdSurvey results and t

[2021-09-02 12:12] diegc15 commented on #10
Dear Yuqi Liao,

Thank you for your reply. The feedback is beneficial! I will implement the changes in the code you suggested to fully replicate the results from the PIRLS and TIMSS data sets. I hope you can also track the source of the differences for the PIRLS datasets.

The package is excellent. I am grateful for your time.

Regards,

Diego,

--
*Aviso legal:* El contenido de este mensaje y los

[2021-09-07 16:50] pdbailey0 commented on #10
Hi @diegc15,

To echo @yuqiliao, thanks for this excellent report!

I just pushed a new version to this GitHub repository that I think addresses all of the above issues. You can now install it with [these instructions](https://github.com/American-Institutes-for-Research/EdSurvey#pre-release-installation)

A few notes:

* the `SD` and `summary2` functions used the population and sample standard dev

[2021-09-08 08:29] diegc15 commented on #10
Dear Paul,

Thank you for the updates and the great work! We are looking forward to using your package in our teaching.

Regards,

Diego,

--
*Aviso legal:* El contenido de este mensaje y los archivos adjuntos son
confidenciales y de uso exclusivo de la Universidad Nacional de Colombia.
Se encuentran dirigidos sólo para el uso del destinatario al cual van
enviados. La reproducción, lectura y/o cop

[2021-09-13 15:22] #10 closed

[2021-09-16 15:36] zq8890 opened #11 "ECLS-K data and weights"
When using ECLS-K data with EdSurvey package:
1. should child level weights be scaled in anyway for use with "long" data and/or mixed models?
2. when pulling in data, is it acceptable to only run analyses on a portion of data relevant for analyses? (i.e. only those with complete BMI data at all waves). In other software packages, normally the full dataset is used, but the PSU/Strata and weight var

[2021-09-16 19:21] pdbailey0 commented on #11
Thank you for your question. Since this is a question specific to ECLS data, we recommend contacting Jill McCarroll, the ECLS study director, at Jill.McCarroll@ed.gov. The ECLS team will be able to respond directly to your question about weights.

[2021-09-30 18:41] coatless opened #12 "R CMD check warnings"
From the CI run of R CMD check, there are a few warnings / errors.

Full results can be found here:

https://github.com/American-Institutes-for-Research/EdSurvey/runs/3757157906#step:6:1058

<details>
<summary> result from R CMD check </summary>.

❯ checking package subdirectories ... WARNING
  Problems with news in ‘inst/NEWS.Rd’:
    inst/NEWS.Rd:14: unexpected section header '\section'
    inst

[2021-10-04 20:28] pdbailey0 commented on #12
fixed by https://github.com/American-Institutes-for-Research/EdSurvey/pull/13

[2021-10-04 20:28] #12 closed

[2021-10-11 03:43] Mycounsel21 opened #17 "Material download"
The material for day 2 is only showing set of HTML codes and therefore cannot be downloaded. What should be done to the codes?

[2021-10-11 17:09] pdbailey0 commented on #17
This was a good question because it is confusing. I'm happy this helped!

[2021-10-11 17:09] #17 closed

[2021-10-18 19:29] niguarino opened #18 "RFE: EdSurvey enhancement suggestion"
I would love if EdSurvey could expand the regression options for studying correlates with categorical outcomes. Right now, glm.sdf offers the opportunity to look at binary outcomes via logit and probit. I think it would be great if it could be expanded to multinomial outcomes so I can calculate relative risk ratios for non-dichotomous categorical data. The way I'm thinking of addressing this at th

[2021-10-19 13:39] zq8890 opened #19 "Can EdSurvey be used with NCES data imported not through getdata()?"
I am trying to use mixed.sdf( ) for multi-level modeling with complex survey weights on the ECLSK dataset. However, I have been working with the ECLSK data in another software, and therefore imported an already clean version into R and converted it to a data frame. However, using mixed.sdf keeps producing the following error:

Error in checkDataClass(data, c("edsurvey.data.frame", "light.edsurvey.

[2021-10-19 14:22] #19 closed, assigned to nobody

[2021-10-26 11:25] vejUA opened #20 "Error: Can't combine ... Some attributes are incompatible"
I am experiencing problems compiling a data frame. A few months ago my script worked fine, but recently I keep getting an error ("Error: Can't combine ...") when I want to combine the data from different countries. The problem only occurs for a few countries.
Thank you for your help

[code]

[2021-10-26 14:52] #20 closed, assigned to nobody

[2021-10-29 22:57] pdbailey0 commented on #11
I'm going to close this because this discussion seems to be complete.

[2021-10-29 22:57] #11 closed

[2021-10-30 17:08] pdbailey0 commented on #18
@niguarino tanks for the request. Can you help us with a use case and what statistics you would like to see?

[2021-11-02 17:40] niguarino commented on #18
@pdbailey0 yes, I'd be happy to help. Generally, I am looking to see odds ratios with a 95% confidence interval, as well as p-values of the relative risk ratios. In my case, I am looking to run a nominal logistic regression. Please let me know what other information I can provide. May I email you the specifics of the use case? I'd rather not post my project specifics publically.

[2021-11-15 11:44] vejUA opened #23 "School level correlations between mathematics and science (TIMSS)"
I would like to examine whether there is a correlation between average achievement in mathematics and science (and the subdomains) at the school level, based on the TIMSS 2019 data. I would like to investigate whether the correlation between mathematics and science achievement scores of students differ between schools.

If I understand the instructions from the PISA Data Analysis Manual (OECD, 200

[2021-11-15 17:33] pdbailey0 commented on #23
On the [AIR EdSurvey website](https://www.air.org/project/nces-data-r-project-edsurvey) you can find several how to manuals. One regards [using TIMSS data in EdSurvey](https://www.air.org/sites/default/files/edsurvey-TIMSS-pdf.pdf).

One section of that regards weighted correlations.

When EdSurvey analyzes the weighted correlations between two constructs it will not only estimate the survey stand

[2021-11-15 17:33] #23 closed

[2021-11-16 07:56] vejUA commented on #23
Thank you for the quick reply and the links to the walk troughs.
The problem I am facing is that I want to check the correlation between the maths and science scores at the school level. When I aggregate the individual student scores to the school level, I cannot use the cor.sdf function anymore. The script below shows what I would like to do, but without taking the weights etc into account. The f

[2021-11-16 17:40] niguarino opened #24 "RFE: Using gap in non-NAEP analyses"
I'm wondering if you would recommend using the command gap in non-NAEP analyses, such as one of the NCES longitudinal studies. For example, I would like to check whether students within a certain category raised their achievement scores between two time points. I am not sure how to do this within EdSurvey. It seems observations would need to be clustered, and I'm not sure how to achieve this at th

[2021-11-16 17:45] pdbailey0 commented on #24
@niguarino, yes the gap function would work for that. It compares two groups and accounts for the clustered nature of the survey. It seems you may have additional questions inside of the larger one you shared above, so feel free to reopen this issue with specifics.

[2021-11-16 23:36] pdbailey0 commented on #23
@vejUA Here’s some guidance as to how to analyze TIMSS data at the school level:

When analyzing school context data from the TIMSS International Database, it is preferable that they be analyzed to make inferences about students attending schools with a given characteristic, rather than about schools of a given characteristic. Analyzing school context data with student achievement requires that th

[2021-11-18 17:03] niguarino commented on #24
@pdbailey0, thank you. I am more interested in using `gap()` to compare within-category differences across years than I am in comparing across two categories. For example, I would like to know in the HSLS whether overall GPA was higher for students in the first follow-up versus the base year within SES quintiles. In this case, I don't wish to compare across categories but only within categories. I

[2021-11-18 17:50] pdbailey0 commented on #24
Yes, this is not addressed by `gap()` I'm reopening.

[2021-11-29 18:13] pdbailey0 opened #25 "RFE: paired t-test across subscales"
I'm documenting here that Christian Christrup Kjeldsen requested paired t-test of the mean difference between subscales. e.g., do students score significantly higher on one subscale than another?

[2021-12-09 08:07] mortenpettersson opened #26 "One sample hypothesis testing - gap function"
Hello,

Let’s say, that I have the ICILS dataset and a binary variable SEX (coded: 1=GIRL, 0=BOY). I know the proportion of girls in the population, μ_0 =0.5, and want to test whether the sample proportion of girls differ from the population proportion.

As far as I know, the gap analysis works by specifying an outcome variable and the two groups you want to compare: gap(variable, data, groupA = "

[2021-12-13 16:53] TKelleyKemple opened #27 "Missing fr2 file for readNAEP"
I'm attempting to use the EdSurvey package on NAEP data and the readNAEP() function is telling me that it is "Unable to find matching .fr2 file" It seems to be looking for a sub-folder within the data directory called "path_to_data/select/parms" but this does not exist.

Currently I am using the restricted data on the ADRF, the secure environment set up by NCES to access restricted use data. Are .

[2021-12-13 18:09] tomfink commented on #27
Thanks for the inquiry @TKelleyKemple.  The `.fr2` files are provided alongside the NCES fixed-width data (`.dat`) files.  The `.fr2` file contains needed information to be able to correctly parse the data files, so is required.  It is not a user generated file.

The `.fr2` file should have the same filename as the `.dat` file, except with different file extensions.  So for example, the `M36NT2PM.

[2021-12-13 18:24] yuqiliao commented on #26
Hi Morten,

Thanks for using EdSurvey and for submitting your question here! I can take a stab at this question.

I understand that you wanted to make a comparison between the percentage of girls from the ICILS dataset and the percentage of girls in the population. Currently, you cannot make such a comparison using EdSurvey's `gap` function because the `gap` function can only help you make compari

[2021-12-13 19:38] TKelleyKemple commented on #27
Ok thank you for the clarification! Looks like I need to go back to the data folks to get the .fr2 files uploaded.

[2021-12-13 19:38] #27 closed

[2021-12-21 12:17] yuqiliao commented on #26
Closing this issue as Morten mentioned in an email that this is resolved.

[2021-12-21 12:17] #26 closed

[2021-12-27 18:10] tzhangumd commented on #25
Just read this request. I wonder this is a valid comparison? Aren't they different subconstruct and measured by different items? How does this differ from comparing a reading scale against a math scale? ...

[2022-01-05 16:10] pdbailey0 commented on #25
Before scaling, I think it is. After scaling, I'm less sure. I'll ask Christian.

[2022-01-12 20:54] pdbailey0 commented on #18
NCES has decided this is not a funding priority for EdSurvey but would happily entertain submitted code consistent with our [code contribution policy](https://github.com/American-Institutes-for-Research/EdSurvey#contributions).

[2022-01-12 20:54] #18 closed

[2022-01-12 20:54] pdbailey0 commented on #25
NCES has decided this is not a funding priority for EdSurvey but would happily entertain submitted code consistent with our [code contribution policy](https://github.com/American-Institutes-for-Research/EdSurvey#contributions).

[2022-01-12 20:54] #25 closed

[2022-01-12 20:54] pdbailey0 commented on #24
NCES has decided this is not a funding priority for EdSurvey but would happily entertain submitted code consistent with our [code contribution policy](https://github.com/American-Institutes-for-Research/EdSurvey#contributions).

[2022-01-12 20:54] #24 closed

[2022-02-20 19:57] HGS80 opened #28 "difference of performance between 3 or more groups"
**We would asked you if we want to test the difference of performance between 3 or more groups, if the difference is significant or not, how can we do this in EdSurvey?
for example we want to test if there is a significant difference in the performance between the students who absent from school once a week, the students who absents once every two weeks, and the students who absent once a month.**

[2022-02-24 21:15] niguarino opened #29 "For loop with different commands working/not working"
I'm trying to run a `for` loop using `logit.sdf()` using the High School Longitudinal Study (HSLS) data. I am able to do this successfully with `summary2()`, but I can't get it to work for `logit.sdf()`. Do you have any suggestions? I included a simplified version of my problem below.

[code]
Here is the `sessionInfo()` output:

[code]

[2022-02-24 22:22] pdbailey0 commented on #29
@niguarino, this is a well-documented bug report; thank you!

The answer is that a formula in R is not _quite_ as dynamic as your code imagines. In this situation, I do something like this that involves string manipulation and then casting the string as a formula.

[code]

I hope that helps!

[2022-02-24 22:22] #29 closed

[2022-02-24 23:46] niguarino commented on #29
Yes, that solved my problem. Thank you!

[2022-02-25 15:53] cpdaniels opened #30 "Weighting multilevel models with HSLS?"
Is it possible to do this given the way the weights have been constructed? I can't figure out if the stratification messes up the correspondence between level 1 weights (W1STUDENT) and level 2 weights (school weights). Normally I would just use the weights to construct level 1 = student | sch, but I'm not sure I can do this with HSLS. Any help would be greatly appreciated!!

[edited by PB to remov

[2022-02-25 16:37] pdbailey0 commented on #30
@cpdaniels it seems like your question may just be the first paragraph and not all the code following it. Is that right? If not, can you please elaborate on any other details you wanted to provide?

[2022-02-25 16:47] cpdaniels commented on #30
That’s correct, yes!

On Fri, Feb 25, 2022 at 11:38 AM Paul Bailey ***@***.***>
wrote:

--
Chelsea Daniels
NYU Sociology
NYC Reducing Inequality Network Fellow
IES-Predoctoral Interdisciplinary Research Training Fellow

[2022-02-25 21:17] pdbailey0 commented on #30
@cpdaniels Thanks for the clarification. Now that I understand, I'm trying to find who would have an answer to your question.

[2022-02-28 18:34] pdbailey0 commented on #28
@HGS80, for this you need a Wald test. We have [a vignette describing how to use the Wald test in EdSurvey](https://www.air.org/sites/default/files/EdSurvey-WaldTest.pdf).

Here is an example testing if levels of composite vary with "books in the home" (b013801) using the NAEP Primer.
[code]
You can read the Wald test documentation (linked above) to see if you would prefer to use the chi-squared t

[2022-02-28 18:34] #28 closed

[2022-02-28 18:39] pdbailey0 commented on #30
@cpdaniels this question is more about using HSLS weights than EdSurvey specifically, so I'm going to ask you to contact Elise.Christopher@ed.gov at NCES directly.

Once you know what you plan to do, I'm happy to help you actually do it with `EdSurvey` and/or `WeMix`.

[2022-02-28 18:39] #30 closed

[2022-03-08 10:56] HGS80 opened #31 "Differences in Performance Between the Male and Female"
We want to know if there are differences in performance between the male and female students who was getting bullied?
Bullying is a scale and it takes 3 options:
-Never or almost never
-about monthly
-about weekly

[2022-03-09 23:20] niguarino commented on #3
I have a related question. I am also trying to to reshape HSLS data from wide to long format. I am running an econometric fixed effects model, where I will be controlling by student ID in order to isolate the effects of changes in variables on the outcome. Because I am trying to capture several variables within a survey period, I am taking a different approach than you took above (plus, the `gathe

[2022-03-09 23:24] niguarino opened #32 "New issue in post #3"
I just added a question to "Transforming ECLSK 2011 data from "wide" to "long" format #3". I wanted to bring it to your attention here in case only new issues prompt your attention. Thank you.

[2022-03-10 14:59] pdbailey0 commented on #32
@niguarino yes, I see whenever someone posts. Can you please start a new issue that is just your post on that other thread? You'll notice that including a reference (as you did here) includes a note in both issues--and that is a good idea. I can then clean everything up, deleting issues and posts as needed.

[2022-03-10 15:29] niguarino opened #33 "Error when combining long format data across survey waves"
I am also trying to to reshape HSLS data from wide to long format. I am running an econometric fixed effects model, where I will be controlling by student ID in order to control for unobserved time-invariant person-level characteristics and to isolate the effects of changes in variables of interest on the outcome. Because I am trying to capture several variables within each survey wave, I am takin

[2022-03-10 15:30] niguarino opened #34 ""Building the weights" in long format"
Can you describe what you're doing when you "built the weights" in post #3? I am not sure how to incorporate the weights in order to run a properly weighted student-level fixed effects model. Also, I am not sure why you subset the initial data set. Please address this if it influenced how you built the weights. Thank you!

[2022-03-10 21:00] niguarino opened #35 "Models that adjust for clustered standard errors"
I would like to run an econometric student-level fixed effects model (ideally, a logistic FE model) using the HSLS data. `EdSurvey` doesn't yet have some important features that would make this easier/possible:

1. A way to suppress the output of the fixed effect so potentially hundreds of unimportant coefficients are not displayed
2. More importantly, a way to cluster the standard errors so I am

[2022-03-10 21:30] pdbailey0 commented on #35
@niguarino, EdSurvey with the jackknife variance estimator uses a cluster-robust standard error consistent with the sampling design!

As for a fixed effects estimator, no, that is not included. I'll mark that as an RFE. Do you have one you recommend?

Meanwhile, I'd probably grab the coefficients matrix from the object returned by `lm.sdf` and use regex to filter it. Let me know if you need help w

[2022-03-10 22:47] niguarino commented on #35
@pdbailey0, thanks for your response. Does this mean I can run the following to estimate cluster-robust standard errors? How does `logit.sdf()` (in the last command I run below) know that I am clustering on student ID?

[code]

When I run this, I get the following error:

[code]

Will running this depend on enhancement? I think the other option is to manually de-mean the variables of interest to a

[2022-03-11 00:04] pdbailey0 commented on #35
The variance estimator accounts for covariance in the sample as drawn--so the PSU-level. I'd encourage you to look in Wolters "Introduction to Variance Estimation" in chapter 4, or the materials for variance estimation for HSLS.

The error message is because your computer is out of memory. There are lots of possible causes of that.

[2022-03-11 00:48] niguarino commented on #35
The PSU-level in the HSLS is the school-level, as schools were first sampled before sampling students in schools. In my student-level fixed effects model, though, I also want to account for clustering that is taking place at the student-level, where observations (two of them, in my case) are clustered within students. My fixed effects model is taking the form described [here](https://www.econometr

[2022-03-11 14:26] pdbailey0 commented on #35
It looks to me like you found a bug in `glm2` instead of running your logit.sdf call try this:
[code]

I also took out the tidyverse import to see if that was the issue and it does not seem to be. Can you see if this call works for you?

[2022-03-11 15:16] niguarino commented on #35
I get the same error message when I run the`glm2()` code you provided:

[code]

[2022-03-11 15:59] pdbailey0 commented on #35
may I request you report the bug to `glm2`? The only contact info I can see is the email address of the maintainer on CRAN. Looking at the NEWS, it seems the maintainer is open to suggested fixes.

[2022-03-11 16:47] niguarino commented on #35
Yes, I can do this. May I check my understanding before reaching out?

1. `glm2()` underlies `logit.sdf()`. There seems to be a bug in `glm2()`, which is causing a problem when I try to run either `logit.sdf()` or `glm2()`. [How do we know this is not an actual issue with my computer memory?]
2. Regardless, it seems that `logit.sdf()` can't address my issue of adjusting standard errors for observa

[2022-03-11 17:22] pdbailey0 commented on #35
@niguarino great questions!

1. Correct. We know is not you because I have the same issue.
2. the clustering is consistent with the survey design. I advise against using clustering that is not consistent with the survey design.

[2022-03-11 17:49] niguarino commented on #35
OK, thank you. I sent the bug report.

[2022-03-11 20:05] pdbailey0 commented on #35
@niguarino I edited your code so that it would run on a new machine by adding `downloadHSLS` and using the home directory (which is universal across operating systems). I would add that the glm2 issue can be seen by replacing the `logit.sdf` call with
[code]

[2022-03-11 22:57] pdbailey0 commented on #35
One solution might be to allow a user supplied glm function. Here `feglm` from the `fixef` package may work

[code]

[2022-03-14 16:07] niguarino commented on #35
Do you mean did I try selecting only the observations for an ID where there was a change in the outcome and plugging that data into `glm2()`? I haven't, but I can try that.

[2022-03-14 16:52] pdbailey0 commented on #35
Yes

[2022-03-14 16:53] niguarino commented on #35
That worked very quickly. I am now trying to arrange it so that I can try this with `logit.sdf()`.

[2022-03-14 19:23] niguarino commented on #35
Here's what I ran:

[code]

`logit.sdf()` is still running after about 2.5 hours. I will update you once it is finished running.

[2022-03-14 22:12] niguarino commented on #35
`logit.sdf()` has been running for more than five hours. I will allow it to run overnight and will post what happened tomorrow morning.

[2022-03-15 03:16] pdbailey0 commented on #35
@niguarino did you intend to use this data?
[code]

[2022-03-15 16:54] niguarino commented on #35
@pdbailey0 do you have any recommendations on what to do given that using `logit.sdf()` with the subset has too long of a run time?

[2022-03-17 21:17] yaoyang1707 opened #36 "How to get a subset of only students who reached the advanced level from NAEP 2019 dataset"
Thanks for using EdSurvey! Please follow the instructions below when requesting a new feature in EdSurvey.
---

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

How can I create a subset wit

[2022-03-17 21:24] tzhangumd commented on #36
@yaoyang1707 I would recommend you to read our new EdSurvey ebook, focusing on the data manipulation chapter: https://naep-research.airprojects.org/Portals/0/EdSurvey_A_Users_Guide/_book/dataManipulation.html.

Let us know if it addresses your questions. :)

[2022-03-17 21:27] yaoyang1707 opened #37 "N (sample size) in descriptive analysis"
Thanks for using EdSurvey! Please follow the instructions below when requesting a new feature in EdSurvey.
---

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

When I use the commands to co

[2022-03-17 21:31] yaoyang1707 opened #38 "What does dofAB mean in gap analysis"
Thanks for using EdSurvey! Please follow the instructions below when requesting a new feature in EdSurvey.
---

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I am trying to compute the gap analysis between female and males' math achievement.

In the edsurvey output, what does "dofAB"

[2022-03-17 22:12] pdbailey0 commented on #36
It seems there is no question here so I'm closing this issue. Please feel free to open a new issue with a question.

[2022-03-17 22:12] #36 closed

[2022-03-17 22:12] pdbailey0 commented on #37
It seems there is no question here so I'm closing this issue. Please feel free to open a new issue with a question.

[2022-03-17 22:12] #37 closed

[2022-03-17 22:12] pdbailey0 commented on #38
It seems there is no question here so I'm closing this issue. Please feel free to open a new issue with a question.

[2022-03-17 22:12] #38 closed

[2022-03-17 22:13] tzhangumd commented on #38
Use `?gap` command to pull out the gap function description. @yaoyang1707 You should find your answer there.

[2022-03-17 22:17] tzhangumd commented on #38
@yaoyang1707 Next time to avoid confusion, could you state your questions just following the direction from this GitHub? (see examples in other issues)

[2022-03-17 22:18] tzhangumd commented on #37
@yaoyang1707 Could you edit your questions? See an example here https://github.com/American-Institutes-for-Research/EdSurvey/issues/33.

[2022-03-17 23:17] yaoyang1707 commented on #38
Thank you  so much for your answer. Sorry for the confusion. I will follow the example to propose the question next time.

[2022-03-18 14:16] pdbailey0 commented on #34
@niguarino those are for example purposes only, to get a model to run. I would not use those weights. I'll update the code to make that clearer.

What weights to use is an open question with ongoing debate in the literature. Here is [a recent paper](https://link.springer.com/article/10.1186/s40536-021-00099-0) on the topic.

If you have questions about weighting a particular dataset, please ask NC

[2022-03-18 14:16] #34 closed

[2022-03-18 18:47] pdbailey0 commented on #33
@niguarino is this solved now?

[2022-03-18 19:08] niguarino commented on #33
Yes, although I no longer see the thread that discusses the solution? I believe the solution was to use `as.factor()` when creating new factor variables before joining the data (for each grade, not all grades together). Thanks for checking.

[2022-03-21 20:27] #33 closed

[2022-03-25 03:05] Deleetdk opened #39 "Support for .am files, NALS/NAAL surveys"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
EdSurvey can currently read many survey files. However, the 1992 NALS, and the 2003 NAAL are not among them. These survey files are currently available in the obscure .am file format. This format requires the AM Statistical Software. This software only works on Windows. But even on Windows,

[2022-04-05 22:23] niguarino opened #40 "Linear fixed effects model with lm.sdf(): NAs for FE dummy variables"
My advisor has asked me to run a linear fixed effects model using panel data with the HSLS to control for unobserved time invariant characteristics by adding dummy variables for each student.

While I was able to run this using `lm.sdf()`, I noticed `NA` for the student ID standard errors, t-values, and probabilities. These are not important variables of interest, but this seems strange to me and

[2022-04-05 22:52] pdbailey0 commented on #40
@niguarino the standard errors include the survey sample variance estimate. In this rubric, standard error estimates require variation across PSUs. A single student should be in only one PSU at the time of the sample and so their individual standard error is correctly reported as `NA`.

I hope that helps!

[2022-04-05 22:52] #40 closed

[2022-04-05 23:01] niguarino commented on #40
@pdbailey0 Yes, this is very helpful, thank you! Do you have any suggestions regarding the error when I increase the number of observations? I already have filtered down to the number of changing observations.

[2022-04-05 23:10] pdbailey0 commented on #40
@niguarino the survey sample error requires that the coefficient vary across the sample in the sense of the survey. So, if only one school had variation in a covariate it would not be possible to estimate the standard error on that covariate. That is the case for a student. It sounds silly to say, but being a person is not a property that is shared across different people in different schools.

[2022-04-05 23:17] niguarino commented on #40
@pdbailey Sorry, I think I wasn't very clear in my last post. What I meant to say is that when I increase the number of observations (from about 2900 to about 5800, because I am less restrictive in my `getData()` command), the code runs for about three hours and then returns an error message like `Error: vector cannot allocate size 54.3Mb` or something to that effect. (I foolishly did not copy and

[2022-04-05 23:27] pdbailey0 commented on #40
@niguarino, I'm sorry, that's on me; I should have read your comment more closely.

I think you have another RFI here because these functions are not intended for use as fixed effects estimators. So, while they work for moderate size, they will require resources that scale quickly as the number of students increases.

This is a well-known and solvable problem but not one that EdSurvey has taken on

[2022-04-06 19:32] niguarino commented on #40
@pdbailey0 Yes, I think you're right. Should I start another thread to make this request?

[2022-04-06 20:05] pdbailey0 commented on #40
Yes, I'd encourage you to list everything you want and explain why this would be useful for a variety of users.

[2022-04-08 22:21] niguarino opened #41 "RFI: Fixed effects estimator"
I'd like to request a fixed effects estimator option in `lm.sdf()`. I'm trying to run a student-level econometric fixed effects model using the HSLS data while applying the panel weights to produce the properly adjusted standard errors. I can accomplish this using `lm.sdf()` with student ID as a factor in the regression model because I have a relatively small sample size (about 2800 students over

[2022-04-11 17:36] niguarino opened #42 "Number of observations in HSLS PUF"
I recently noticed my copy of the student-level HSLS public use file (PUF), which I downloaded from EdSurvey, has 23,056 observations. The [Data File Documentation](https://nces.ed.gov/pubs2018/2018140.pdf) for the base year to second follow-up survey says there should be 23,503 observations in the PUF (p. 157).

Is there a reason why there are only 23,056 observations?

Here is how I can tell the

[2022-04-11 17:49] pdbailey0 commented on #42
@niguarino what do you get when you run these calls? My results after `#`
[code]
These seem to agree with your claim of 23,503 rows.

One thing to be aware of is that any weights will have some students without positive weights (weights of 0) that will limit the n-size for any particular analysis.

Nevertheless, the percents in your output table can be used to estimate the n-size of your file. I w

[2022-04-11 17:56] niguarino opened #43 "Unnecessary warnings with getData()?"
I've been using `getData()` with the HSLS and have been ignoring some warnings that have been popping up when I recode a particular variable, as it seems like there is no problem with the recoding, but I thought I should bring this to your attention.

You can see when I use `edsurveyTable()` and recode this variable, there are no warnings given:

[code]

Here is the output:

[code]

Here is when I

[2022-04-11 18:02] niguarino commented on #42
@pdbailey0 here's what I get:

[code]

I checked with the NCES program officer, who said 23,506 is what is expected. I wonder if I should re-download the data. I initially downloaded this data using EdSurvey back in July of 2020. Please let me know if you have some other suggestion. I'm not sure what you were demonstrating with that last code chunk (not sure where you got 0.004337266 from).

Thank

[2022-04-11 19:40] tzhangumd commented on #42
Hey @niguarino, Would you mind redownloading the data using EdSurvey and see if the sample size is correct?  If not, we will look into the issue further.

[2022-04-11 19:46] niguarino commented on #42
@tzhangumd Yes, I'll redownload and will let you know what I find. Thanks!

[2022-04-12 14:18] niguarino commented on #42
@tzhangumd @pdbailey0 I get the same thing as Paul now: 23,503 observations. My file must have got corrupted somehow. Thank you for allowing me to check with you both. Redownloading the data took several hours.

[2022-04-12 14:32] #42 closed

[2022-05-03 17:31] pdbailey0 commented on #43
Excellent bug report @niguarino; thank you! Just pushed an update that fixes this, acknowledging your contribution in the [NEWS](https://github.com/American-Institutes-for-Research/EdSurvey/blob/main/inst/NEWS.Rd#L37).

[2022-05-03 17:31] #43 closed

[2022-05-04 18:27] pdbailey0 commented on #35
I do not. I'm going to close this issue because I think it has morphed into the request in issue https://github.com/American-Institutes-for-Research/EdSurvey/issues/41

[2022-05-04 18:27] #35 closed

[2022-05-04 18:32] pdbailey0 commented on #41
NCES has decided this is not a funding priority for EdSurvey but would happily entertain submitted code consistent with our [code contribution policy](https://github.com/American-Institutes-for-Research/EdSurvey#contributions).

[2022-05-04 18:32] #41 closed

[2022-05-04 18:32] pdbailey0 commented on #39
NCES has decided this is not a funding priority for EdSurvey but would happily entertain submitted code consistent with our [code contribution policy](https://github.com/American-Institutes-for-Research/EdSurvey#contributions).

[2022-05-04 18:32] #39 closed

[2022-05-05 16:18] niguarino commented on #41
OK, thank you for asking.

[2022-07-08 16:39] niguarino opened #44 "Request: Wald test for summed coefficients"
I know there is a Wald test feature in EdSurvey to test whether certain variables can be removed from a model. I'm wondering if the Wald test command can be expanded to include a test of summed coefficients. For example, with HSLS, I would like to test for whether the effect of affordability beliefs for girls is equal to 0 or not. This requires summing the main effect on affordability beliefs with

[2022-07-11 14:41] pdbailey0 opened #45 "mml.sdf always includes omittedLevels"
Regardless of the `omittedLevels` parameter, they are included in the model.

[code]

expected output: the coefficients are not the same.

Actual output:
[code]

[2022-07-13 10:07] lostandfound8 opened #46 "Recode/Regroup achievement levels for Regression Analysis"
**1) Context**

I am a student from Germany currently working on my master thesis in educational science and therefore working with PIAAC datasets from various countries using EdSurvey in R-Studio. (Also I am a beginner in R and on GitHub and hope this is a correct place of contact for my inquiry.)

**2) Aims**

**A)** I would like to do a multivariate regression (mvrlm.sdf) using the six achievem

[2022-07-13 19:52] pdbailey0 commented on #46
I’m not entirely sure I understand the question, or maybe questions l, but have you looked at achievementLevels function, which lets you set the cut points with an argument similar to that.

I hope you do not need to recode variables with that.

Linear regression in R is done without lm, in EdSurvey wirh lm.sdf. I hope this helps.

Best,
Paul
________________________________
From: lostandfound8 **

[2022-07-14 13:24] lostandfound8 commented on #46
Hello Paul, thank you for your fast reply!

So my main question is how I can "save" the customized CutPoints of the achievement levels in order to use these as separate dependent variables within a multivariate regression Analysis. I was able to change the CutPoints using the achievementLevels-function (to 0, 226, 326) but when checking them using the showCutPoints-function for the data, the Outpu

[2022-09-07 17:20] webervienna opened #47 "readPIAAC data from cycle 1 but round 2 or round 3 countries"
I have downloaded the PIAAC data with the suggested function - worked fine for all countries of cycle 1.
Reading all countries works without error message, but in fact the countries from the round 2 or round 3 are not loaded properly (e.g. countries='sgp') used
readPIAAC('~/PIAAC/Cycle 1/',countries='*')

I have also tried readPIAAC('~/PIAAC/Cycle 1/',countries='sgp'). This works without error mes

[2022-09-08 02:59] pdbailey0 commented on #47
@webervienna I just downloaded and read the PIAAC data with
[code]

When you submit a bug report the form asks you to share your session info. Can you please do that

Here are the instructions again:

3. Type `sessionInfo()` in the Rstudio console, and copy and paste the output. This information will help us understand the R environment you are in when encountering the issue.
[code]

[2022-09-08 06:11] webervienna commented on #47
Oh I am sorry I have missed that.
Here is the sessionInfo() output:

R version 4.2.1 (2022-06-23)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS Catalina 10.15.7

Matrix products: default
BLAS:   /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/4.2/Resources/lib/libRlapa

[2022-09-08 14:35] pdbailey0 commented on #47
Great, and what do you get when you run by `readPIAAC` call followed by the `dim` call?

In the bug report the first item is "Brief description of the problem and what output you expect" is there a call that is giving you unexpected output? If so, can you share the call, the output you get, and the output you expect?

[2022-09-08 16:00] webervienna commented on #47
Sorry I will try once more hopefully now in the requested way

BRIEF DESCRIPTION OF ISSUE:
#################
I have downloaded the PIAAC data with the suggested function from the OECD webpage - worked fine for all countries of cycle 1. There was no error message. Having a look at the dim I can see that all countries should have some data - that's also what I found when having a look at the plain t

[2022-09-08 16:13] webervienna commented on #47
Maybe that might be also of help. Here is the output trying the same for Singapore (just as an example from the round 2 or 3 countries). I have loaded PIAAC data from Singapore; So far all good. dim call gives a reasonable response. Creating a subset for some particular variables tells me the dataset has 0 rows - which is contradicting to the _dim_ output and it is also not expected as I would exp

[2022-09-08 20:07] pdbailey0 commented on #47
@webervienna, it seems that the file `international-codebook.xlsx` in the `values` tab does not have a level for Singapore for the variable `cntryid` (which is `702`).

<img width="473" alt="image" src="https://user-images.githubusercontent.com/14575300/189214383-96758942-06ae-4295-81b4-2cfd0952cacc.png">

While new data may eventually be released, I'll offer a simple alternative: you could also g

[2022-09-08 21:58] webervienna commented on #47
Thank you very much that was a brilliant idea. I have added all countries and their code from round 2 and 3 which are actually missing. Now it works fine. Thank you sooo much!

[2022-09-08 21:58] #47 closed

[2022-09-16 14:25] pdbailey0 commented on #47
@webervienna we're going to release a new EdSurvey version that fixes this so that codes not in the code book appear as the codes themselves (so you'd see 702 if you did not update the code book).

We're adding this to the EdSurvey News. Is this an okay to credit you? I'd happily update it to your name.
[code]

[2022-09-18 11:50] webervienna commented on #47
Oh that's very nice thank you!

[2022-10-19 10:05] #46 closed

[2022-10-24 09:47] lostandfound8 opened #48 "How to Table pdf Logistic Regression Results"
**1) Context**
Analysing PIAAC-Data via Logistic Regression

[code]

**2) Aims**
Export Results of Logistic Regression as Table (to use in Word)

**3) Problem and considered alternatives**
Attempted using edSurveyTable and finalfit-package

[code]

[2022-11-30 13:09] #48 closed